<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1>Users</h1>

  <form class="form-inline pull-right">
    <div class="form-group">
      <label class="sr-only" for="userFilter">Filter users</label>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        <input type="text" class="form-control" id="userFilter" placeholder="Filter users" ng-model="userFilter">
      </div>
    </div>
  </form>

  <ul class="users">
    <li ng-repeat="u in users | filter:userFilter"><a ng-href="/users/{{u._id}}">{{u.name}}</a>
      <span ng-show="u._id == currentUser._id">me</span>
      <span ng-show="isFriend(u._id)">friend</span>
    </li>
  </ul>

</div>
