<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container location">
  <div class="row">
    <div class="col-sm-6">
      <h1>{{location.details.name}}</h1>

      <a ng-href="categories/{{location.details.category._id}}"><h3>{{location.details.category.name}}</h3></a>

      <p class="loc-owner" ng-show="location.owner">Owner: <a ng-href="/users/{{location.owner._id}}">{{location.owner.name}}</a></p>

      <p class="loc-address">{{location.address.street}}, {{location.address.zipcode }} {{location.address.city}}</p>

      <p class="loc-duration"><strong>Duration:</strong> {{location.details.duration}}h</p>

      <div class="description" ng-show="location.details.description.length >= 1">
         <h3>Description</h3>
         <p class="loc-description">{{location.details.description}}</p>
      </div>

      <div class="description" ng-show="location.details.imports.length >= 1">
         <h3>Wikipedia</h3>
         <p class="loc-imports" ng-bind-html="location.details.imports"></p>
      </div>

      <div class="description" ng-show="location.details.links.length >= 1">
         <h3>Links</h3>
         <div class="loc-links">
           <a href="{{link.url}}" class="loc-links link" ng-repeat="link in location.details.links" target="_blank">{{link.name}}<br/></a>
         </div>
      </div>
    </div>

    <div class="col-sm-6">
      <ui-gmap-google-map
        center="map.center"
        zoom="map.zoom"
        pan="map.pan"
        options="map.options">
        <ui-gmap-marker coords="location.coordinates" idkey="1" icon="location.details.category">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>

  <div class="row" ng-show="location.details.pictures.length >= 1">
    <div class="col-sm-12">
      <h3>Images</h3>
      <div class="loc-pictures">
        <a ng-click="openImage($index)" class="loc-picture thumbnail" ng-repeat="pic in location.details.pictures">
          <img src="{{pic}}" alt="">
        </a>
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-lg btn-map-new" type="button" ng-click="openModal('lg')" ng-show="isLoggedIn()">
    Edit
  </button>

  <div id="disqus_thread" class="comments col-sm-12" ng-controller="DisqusCtrl"></div>

  <noscript>Please enable JavaScript to view the comments powered by <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus</a>.</noscript>

</div>
