<div class="row">
  <h1 class="col-md-12">Edit Location</h1>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="row">

  <form class="form col-md-6" name="form" novalidate>

    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">


      <label>{{editLocation.details.name}}</label>

      <input type="text"
             name="name"
             class="form-control"
             ng-model="editLocation.details.name"
             autofocus
             required/>

      <p class="help-block" ng-show="form.name.$error.required && submitted">
        Name required
      </p>
    </div>


    <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                            'has-error': form.address.$invalid && submitted }">
      <label>{{editLocation.address.street}}, {{editLocation.address.zipcode }} {{editLocation.address.city}}</label>

      <div id="address-search"></div>

      <p class="help-block" ng-show="form.address.$error.required && submitted">
        Address required
      </p>

      <p class="help-block" ng-show="form.address.$error.mongoose">
        {{ errors.address }}
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.category.$valid && submitted,
                                            'has-error': form.category.$invalid && submitted }">
      <label>Category</label>

      <div class="btn-group">
        <label ng-repeat="c in categories"
               name="category"
               class="btn btn-default"
               ng-model="editLocation.details.category._id"
               btn-radio="'{{c._id}}'"
               required>{{c.name}}</label>
      </div>

      <p class="help-block" ng-show="form.category.$error.required && submitted">
      Category required
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-success': form.duration.$valid && submitted,
                                            'has-error': form.duration.$invalid && submitted }">
      <label>Duration</label>

      <input type="number"
             name="duration"
             min="0.5"
             max="10"
             step="0.5"
             placeholder="duration in hours"
             class="form-control"
             ng-model="editLocation.details.duration"
             required/>

      <p class="help-block" ng-show="form.duration.$error.required && submitted">
        Duration required
      </p>
    </div>


    <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
                                            'has-error': form.description.$invalid && submitted }">


      <label>Description</label>

      <textarea
             rows="10"
             name="description"
             class="form-control"
             ng-model="editLocation.details.description"
             autofocus
             required>
      </textarea>

      <p class="help-block" ng-show="form.description.$error.required && submitted">
        Description required
      </p>
    </div>


    <div class="form-group clearfix">

      <label>Photos</label>

      <div ng-repeat="pic in editLocation.details.pictures">
        <a href="{{pic}}" class="loc-picture thumbnail">
          <img src="{{pic}}" alt="">
        </a>
        <span ng-click="removePicture(pic)">Delete?</span>
      </div>

      <div ng-app="treasuremapApp" ng-controller="UploadCtrl">
        <div ngf-no-file-drop>
          <div class="button col-md-12" ngf-select ng-model="files" ngf-multiple="true">Select File</div>
        </div>
        <div ngf-drop ngf-select ng-model="files" class="drop-box col-md-6"
             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
             accept="image/*">Drop images here or click to upload
        </div>
        <img class="col-md-6" gf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'">
        Files:
        <ul>
          <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
        </ul>
        Upload Log:
        <pre>{{log}}</pre>
      </div>

    </div>

    <div class="form-row">
      <button class="btn btn-primary btn-lg btn-submit" type="button" ng-click="addLocation(form)">
        Submit
      </button>
      <button class="btn btn-default btn-lg btn-cancel" type="button" ng-click="$dismiss()">
        Cancel
      </button>
    </div>

  </form>

  <div class="col-md-6">
    <script type="text/ng-template" id="searchbox.tpl.html">
      <input type="search"
             name="address"
             id="pac-input"
             class="pac-controls form-control"
             ng-model="ngModel"
             placeholder="Search for an address"
             required
             mongoose-error/>
    </script>
    <div ng-if="showMap">
      <ui-gmap-google-map center="mapNew.center"
                          zoom="mapNew.zoom"
                          options="mapNew.options">
        <ui-gmap-marker coords="editLocation.coordinates" idkey="1"></ui-gmap-marker>
        <ui-gmap-search-box template="searchbox.template"
                            events="searchbox.events"
                            parentdiv="'address-search'"
                            ng-model="ediLocation.address.readable"></ui-gmap-search-box>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
