.modal-content {
  .angular-google-map-container {
    height: 600px;
  }

  .btn-submit,
  .btn-cancel {
    width: 47%;
  }

  .btn-submit {
    margin-right: 5%;
  }
}


.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}

.dragover {
  border: 5px dashed blue;
}

.pac-container {
  z-index: 10000 !important;
}

.glyphicon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: 20px;
}

.glyphicon-remove:hover {
  color: grey;
}

.images {
  position: relative;
}

.images a {
  cursor: default;
}

