.angular-google-map-container { 
	height: calc(100vh - 50px); 
}

.map { 
	width: 100%; 
	height: calc(100vh - 50px); 

	div {
		color: #000;
	}

	a {
		color: initial; 
		text-decoration: none;

		&:hover {
			color: initial; 
			text-decoration: underline;
			cursor: pointer;
		}
	}
}