$break-large: 600px;
$break-small: 415px;

.map {
  width: 100%;
  margin-top: -$navbar-margin-bottom;
  height: calc(100vh - 80px);

  .angular-google-map-container {
  	height: calc(100vh - 80px);
  }

  .sidebar {
    $sidebar-width: 300px;

    @media screen and (min-width: $break-small) and (max-width: $break-large) {
      left: -65%;
      width: 65%;
    }
    @media screen and (max-width: $break-small) {
      left: -90%;
      width: 90%;
    }

    position: absolute;
    left: -$sidebar-width;
    top: $navbar-height;
    bottom: 0;
    width: $sidebar-width;
    min-width: 300px;
    background-color: $navbar-default-bg;
    padding: 15px;
    overflow-y: auto;
    transition: left 0.5s;

    a {
      color: $brand-primary;
    }

    .selloc-name {
      display: block;
      position: relative;
      height: 200px;
      background-size: cover;
      margin: -15px;
      margin-bottom: 15px;
      //padding: 15px;
      color: white;
      background-position: center;

      > h2 {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        margin: 0;
      }
    }

    .selloc-picture {
      max-width: 100%;
      height: auto;
      //margin-right: 15px;
      //float: left;

    }

    .closer {
      position: absolute;
      top: 15px;
      right: 15px;
      color: darkgrey;

      &:hover {
        color: black;
        text-decoration: underline;
     }

    }

    ul {
      list-style: none;
      padding: 0;

      > li {
        padding-bottom: 0.5em;
        border-bottom: lightgray 1px solid;
        margin-bottom: 0.5em;
      }
    }

    //&.ng-hide-add.ng-hide-add-active,
    //&.ng-hide-remove.ng-hide-remove-active {
    //  transition: left 0.5s;
    //}

    //&.ng-hide {
    //  opacity: 0;
    //  left: -$sidebar-width;
    //}

    &.isVisible {
      left: 0;
      transition: left 0.5s;
    }

  }

  div {
  	color: #000;
  }

  a {
  	color: initial;
  	text-decoration: none;

  	&:hover {
  		color: initial;
  		text-decoration: underline;
  		cursor: pointer;
  	}
  }

  & > .searchRadius {
    position: absolute;
    bottom: 15px;
    right: 15px;

    @media screen and (max-width: $break-small) {
      width: 65%;
      float: right;
   }

  }

  .btn-map-new {
    background: #ff931e;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 1000px;
    font-size: 3.5em;
    line-height: 0.84em;
    box-shadow: 1px 1px 5px #222;
    transition: box-shadow 0.3s;

    span {
      color: #fff;
    }

    &:hover {
      background: #ccc;
      color: $brand-primary;
      //box-shadow: 4px 4px 7px #222;
      //transition: box-shadow 0.3s;
    }
  }
}
