.map {
  width: 100%;
  margin-top: -$navbar-margin-bottom;
  height: calc(100vh - 50px);

  .angular-google-map-container {
  	height: calc(100vh - 50px);
  }

	div {
		color: #000;
	}

	a {
		color: initial;
		text-decoration: none;

		&:hover {
			color: initial;
			text-decoration: underline;
			cursor: pointer;
		}
	}

  .btn-map-new {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 1000px;
    font-size: 3.5em;
    line-height: 0.8em;
    box-shadow: 1px 1px 5px #222;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 4px 4px 7px #222;
      transition: box-shadow 0.3s;
    }
  }
}
