<div ng-include="'components/navbar/navbar.html'"></div>

<div class="map">
  <ui-gmap-google-map center='search.map.center' zoom='search.map.zoom' options='options'>

     <ui-gmap-search-box template="searchboxNav.template"
                        events="searchboxNav.events"
                        parentdiv="'address-search'"
                        ng-model="search.searchTerm"></ui-gmap-search-box>

  	<ui-gmap-markers
      models='filteredLocations'
      idKey="'_id'"
      coords="'coordinates'"
      doCluster='true'
      clusterOptions="clusterOpt"
      icon="'icon'"
      click="click"
      events="markersEvents">

  		<ui-gmap-windows show="show">
        <div ng-non-bindable>
          <a href='/locations/{{_id}}'>
            <strong>{{details.name}}</strong>
            <p>{{address.street}}
              <br/>{{address.zipcode}} {{address.city}}</p>
          </a>
          <p>Duration {{details.duration}}h</p>
          <a href='/categories/{{details.category._id}}'><i>{{details.category.name}}</i></a>
        </div>
      </ui-gmap-windows>

  	</ui-gmap-markers>

    <!-- TODO:ADD current location icon -->
    <ui-gmap-marker coords="search.userLocation" idkey="1"></ui-gmap-marker>
    <ui-gmap-circle center="search.userLocation" radius="searchRadius * 1000" fill="{opacity: 0}" stroke="{weight: 1}"></ui-gmap-circle>

  </ui-gmap-google-map>

  <div class="selectedLocation" ng-class="{isVisible: selectedLocation}">
    <a class="selloc-name" href='/locations/{{selectedLocation._id}}' ng-style="{'background-image': 'linear-gradient(transparent 25%, black), url('+selectedLocation.details.pictures[0]+')'}">
      <h2>{{selectedLocation.details.name}}</h2>
    </a>

    <p>
      <a href='/categories/{{selectedLocation.details.category._id}}'>{{selectedLocation.details.category.name}}</a>
    </p>

    <address>
      {{selectedLocation.address.street}} <br/>
      {{selectedLocation.address.zipcode}} {{selectedLocation.address.city}} <br/>
    </address>

    <p ng-show="selectedLocation.details.duration">Duration: {{selectedLocation.details.duration}} h</p>

    <h3 ng-show="selectedLocation.details.description || selectedLocation.details.imports.length >= 1">Description</h3>

    <p ng-show="selectedLocation.details.description">{{selectedLocation.details.description | limitTo:128}} ...</p>
    <p ng-show="selectedLocation.details.imports.length >= 1" ng-bind-html="selectedLocation.details.imports | limitTo:128"> ...</p>

    <a ng-href="/locations/{{selectedLocation._id}}">Read more...</a>

    <!--<div>-->
      <!--<h3>Images</h3>-->

      <!--<a ng-click="openImage($index, selectedLocation.details.pictures)" class="selloc-picture thumbnail" ng-repeat="pic in selectedLocation.details.pictures">-->
        <!--<img src="{{pic}}" alt="">-->
      <!--</a>-->
    <!--</div>-->

    <span class="closer glyphicon glyphicon-remove" aria-hidden="true" ng-click="selectedLocation = null"></span>
  </div>

  <button class="btn btn-lg btn-map-new" type="button" ng-click="openModal('lg')" ng-show="isLoggedIn()">
    <span>&#43;</span>
  </button>

  <form class="form-inline searchRadius">
    <div class="form-group">
      <label class="sr-only" for="searchRadius">Search Radius (in km)</label>

      <div class="input-group">
        <div class="input-group-addon">Search Radius (in km)</div>
        <input ng-model="searchRadius" type="number" name="searchRadius" class="form-control" placeholder="Search Radius" min="1" max="100" step="1" ng-change="getLocations(userLocation, searchRadius)">
      </div>
    </div>
  </form>
</div>
