.login-container{
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	p{
		text-align: center;
		font-size: 12px;
	}
}

.login-form{
	width: 500px ;
    margin: 0 auto;

	label{
		display: inline-block;
		text-align: right;
	}
	input{
		width: 500px;
	}
	p{
		font-size: 10px;
	}
}

.button-row{
	width: 80px ;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    .btn-login{
    	margin-right: 30px;
    	background-color: #21c2b8;
    	&:hover{
			color: #fff
		}
    }
    /*.btn-register{
    	margin-left: 30px;
    }*/
}

.socialbar{
	width: 128px ;
    margin: 0 auto;
}

.btn-facebook{
	&:hover{
		opacity: 0.5;
	}
}
.btn-google-plus{
	&:hover{
		opacity: 0.5;
	}
}
.btn-twitter{
	&:hover{
		opacity: 0.5;
	}
}