.login-container{
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	p{
		text-align: center;
		font-size: 14px;
	}
}

.login-form{
	width: 100%;
	max-width: 500px;
    margin: 0 auto;

	label{
		display: inline-block;
		text-align: right;
	}
	input{
		width: 100%;
	}
	p{
		font-size: 10px;
	}
}

.button-row{
	width: 80px ;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    .btn-login{
    	margin-right: 30px;
    	background-color: #21c2b8;
		color: #fff;

    	&:hover{
			color: #333;
		}
    }
    /*.btn-register{
    	margin-left: 30px;
    }*/
}

.signup {

	p {
		font-size: 14px;
		padding: 10px 0;
	}
}

.socialbar{
	width: 128px ;
    margin: 0 auto;
}

.btn-facebook{
	&:hover{
		opacity: 0.5;
		text-decoration: none;
	}
}
.btn-google-plus{
	&:hover{
		opacity: 0.5;
		text-decoration: none;
	}
}
.btn-twitter{
	&:hover{
		opacity: 0.5;
		text-decoration: none;
	}
}
