$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

body{
  	font-family: Helvetica;
}

.signup-container{
	background-image: url(/assets/images/BG.png); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  	
	h1{
		margin-top: 30px;
		text-align: center;
		margin-bottom: 20px;
	}
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
}

.sign{
	width: 500px;
	margin: 0 auto;

	label{
		display: inline-block;
		text-align: right;
	}
	input{
		width: 500px;
	}
}

.signup-button{
	width: 95px ;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;

    .btn-signup{
    	margin-right: 0px;
    	background-color: #21c2b8;
    	&:hover{
			color: #fff
		}
    }
}

.socialbar{
	width: 128px ;
    margin: 0 auto;
}

.btn-facebook{
	&:hover{
		opacity: 0.5;
	}
}
.btn-google-plus{
	&:hover{
		opacity: 0.5;
	}
}
.btn-twitter{
	&:hover{
		opacity: 0.5;
	}
}