.modal-content {
  .angular-google-map-container {
    height: 625px !important;
  }

  .btn-submit,
  .btn-cancel {
    width: 25%;
  }

  .btn-submit {
    float: right;
    margin: 0 0 0 2%;
  }

  .form-control {
     resize: none;
  }
}

.uploadForm {

  .drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
    height: 120px;
    text-align: center;
    padding-top: 25px;
  }

  .dragover {
    border: 2px dashed blue;
  }

  .pictures {
    list-style: none;

    .pic {
      max-width: 100%;
      height: auto;
      margin: 10px 5px 5px 0;
    }
  }
}

.pac-container {
  z-index: 10000 !important;
}
